* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-subscribe {
    background-color: #334455;
    border-radius: 8px;
    padding: 40px;
    width: 1000px;
}

.form-subscribe form input,
.form-subscribe form button {
    transition: all 0.3s ease;
}

.form-subscribe:hover form input::placeholder {
    color: #ffa500;
}

.form-subscribe:hover form input {
    background-color: #ddd;
}

.form-subscribe:hover form button {
    background-color: #ffa500;
    color: #fff;
}

.form-subscribe h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-subscribe h2 strong {
    color: #ffa500;
    font-weight: 600;
}

.form-subscribe p {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 80%;
}

.form-subscribe form input {
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

.form-subscribe form button {
    background-color: #f8db35;
    border: 0;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
}
