.quality {
    margin: 100px 0 200px 0;

    .text {
        margin: 0 auto;
        width: 520px;
    }

    .content {
        display: flex;
        justify-content: center;
        margin-top: 150px;
        position: relative;

        svg {
            position: absolute;
            z-index: -1;

            &:nth-child(1) {
                top: 0;
                left: 0;
                transform: translate(0, -40%);
            }

            &:nth-child(2) {
                bottom: 0;
                right: 0;
                transform: translate(0, 40%);
            }
        }

        .cards {
            display: flex;
            align-items: center;
            gap: 20px;

            .card {
                width: 240px;
                height: 260px;
                padding: 30px;
                border-radius: 3px;
                background: #fff;
                box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);

                &-img {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 20px;
                    background: #fff0e7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;

                    img {
                        width: 45px;
                    }
                }

                .title {
                    font-size: 40px;
                    font-weight: 800;
                    margin-bottom: 20px;
                }

                .desc {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 30px;
                }

                &:nth-child(2) {
                    padding: 60px 30px;

                    .card-img {
                        background: #f2ffec;
                    }
                }
            }
        }
    }
}
